  .card-img-top {
    width: 100%;          /* Ocupe 100% da largura do contêiner */
    height: auto;        /* Altura fixa de 200px (ou ajuste como preferir) */
    aspect-ratio: 1/1;
    object-fit: cover;    /* Corta as bordas para manter a proporção */
  }  


  
h5 i {
    transition: transform 0.2s ease; /* animação suave de 0.3 segundos */
 }
  /* Inicialmente, o ícone está apontando para baixo */
h5.collapsed i {
  transform: rotate(180deg); /* Inverte o caret */
}

select {
  max-height: 200px;
  position: relative;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}