:root {
    --backgroundColor: #FAF9F6;
    --primaryColor: #e55c1e;
    --secondaryColor: #484f9f;
    --accentColor: #f7b801;
    --textColor: #070200;
    --prototipation1: #EBEBEB;
    --prototipation2: #CBCBCB;
}

.backgroundbody {
    background-color: var(--backgroundColor);
    padding-top: 5rem;
}

.container {
    display: grid;
    grid-template-areas:
        "perfil proposta"
        "ganho candidato"
        "feed candidato";
    gap: 15px;
    justify-content: center;
}

.ganhodash {
    width: 20rem;
    height: 3rem;

    grid-area: ganho;

    border-radius: 10px;
    box-shadow: 4px 4px 12px #5c5b5b;
    background-color: var(--prototipation1);
}

.perfildash {
    width: 20rem;
    height: 20rem;

    grid-area: perfil;

    border-radius: 10px;
    box-shadow: 4px 4px 12px #5c5b5b;
    background-color: var(--prototipation1);
}

.propostadash {
    width: 35rem;
    height: 20rem;

    grid-area: proposta;

    border-radius: 10px;
    box-shadow: 4px 4px 12px #5c5b5b;
    background-color: var(--prototipation1);
}

.feeddash {
    width: 20rem;
    height: 16rem;

    grid-area: feed;

    border-radius: 10px;
    box-shadow: 4px 4px 12px #5c5b5b;
    background-color: var(--prototipation1);
}

.candidatodeash {
    width: 35rem;
    height: 20rem;

    grid-area: candidato;

    border-radius: 10px;
    box-shadow: 4px 4px 12px #5c5b5b;
    background-color: var(--prototipation1);
}

.containerperfil {
    display: grid;
    grid-template-columns: 100px 190px;
    grid-column-gap: 30px;
    grid-template-areas:
        "icone nome"
        "riscodash riscodash"
        "avalia nota"
        "view viewnum";
}

.iconperfildash {
    grid-area: icone;
    margin-top: 10px;
    margin-left: 20px;
}

.nomedash {
    grid-area: nome;
    margin-top: 1rem;
}

.avaliadash {
    grid-area: avalia;
    margin-left: 20px;
}

.notadash {
    grid-area: nota;
}

.vizuadash {
    grid-area: view;
    margin-left: 20px;
}

.vizuanumdash {
    grid-area: viewnum;
}

.riscoperfildash {
    grid-area: riscodash;
    justify-items: center;
    align-items: center;
    margin-left: 20px;
}

.containerganho {
    display: grid;
    grid-template-columns: 12rem 8rem;
    grid-template-rows: 3rem;
    align-items: center;
    grid-template-areas:
        "ganhomes ganhonum";
}

.containerfeed {
    display: grid;
    align-items: center;
    grid-template-columns: 5rem 13rem;
    grid-template-rows: 4rem;
    margin-left: 20px;
    grid-template-areas:
        "iconcomm comm"
        "iconcomm2 comm2"
    ;
}

.bg-comentario {
    width: 10rem;
    height: 2rem;

    grid-area: comm;
    border-radius: 10px;
    background-color: var(--prototipation2);
}

.bg-comentario2 {
    width: 5rem;
    height: 2rem;

    grid-area: comm2;
    border-radius: 10px;
    background-color: var(--prototipation2);
}

.perfilfeed {
    grid-area: iconcomm;
}

.cardconteudo {
    width: 18rem;
    height: 15rem;
    overflow: hidden;
    overflow-y: scroll;
}

.cardconteudo::-webkit-scrollbar {
    width: 10px;
    background-color: var(--prototipation2);
    border-radius: 10px;
}

.cardconteudo::-webkit-scrollbar-thumb {
    background-color: #171f7c;
    border-radius: 10px;
}

.carddash {
    background-color: var(--backgroundColor);
    width: 14rem;
    height: 23rem;
    border-radius: 10px;
    box-shadow: 4px 4px 12px #5c5b5b;
}

.carddash img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.carddash div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    height: 50%;
}

.carddash h5 {
    font-size: 1.2rem;
}

.carddash h6 {
    font-size: .9rem;
    color: #303030aa;
}

.carddash button {
    background-color: var(--secondaryColor);
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.carddash button:hover {
    background-color: #171f7c;
    cursor: pointer;
}

/*.container{
    height: 66rem;
    
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    background-color: var(--primaryColor);
}*/