:root{
    --backgroundColor: #fcf6f3;
    --primaryColor: #e55c1e;
    --secondaryColor: #484f9f;
    --accentColor: #f7b801;
    --textColor: #070200;
  }
  * {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      box-sizing: border-box;
  }

  .bg-gig{
    background-color: var(--backgroundColor);
  }
  .bg-gig-pr{
    background-color: var(--primaryColor);
  }
  .bg-gig-sc{
    background-color: var(--secondaryColor);
  }
  .bg-gig-ac{
    background-color: var(--accentColor);
  }
  
  .text-gig{
    color: var(--textColor);
  }
  .text-gig-pr{
    color: var(--primaryColor);
  }
  .text-gig-sc{
    color: var(--secondaryColor);
  }
  .text-gig-ac{
    color: var(--accentColor);
  }
  

  .pt-6 {
      padding-top: 5rem; /* Custom value for larger padding */
    }
  .pt-7 {
      padding-top: 6rem; /* Custom value for even more padding */
    }
  .mt-6 {
      margin-top: 5rem; /* Custom value for larger margin */
    }
  .mt-7 {
      margin-top: 6rem; /* Custom value for even more margin */
    }
  

    .img-container {
        width: 100%; /* Garante que a imagem ocupe toda a largura da coluna */
        overflow: hidden; /* Esconde a parte da imagem que está fora da coluna */
    }

    .card-container {
        display: flex;
        flex-wrap: nowrap;
    }

    .col-card {
        flex: 0 0 auto;
        width: clamp(14rem, 18%, 18rem);
    }

    .img-feedback {
        width: clamp(10rem, 25%, 20rem);
    }
  
    h1 {
        font-size: clamp(3rem, 5vw, 5rem);
    }

    h4 {
        font-size: clamp(1.1rem, 3vw, 3rem);
    }
  
  .btn-outline-secondary {
    transition: transform 0.2s ease;
  }

  .btn-outline-secondary:hover {
    color: #6c757d;
    background-color: inherit;
    border-color: #6c757d;
    transform: scale(1.1);
  }

  .btn-secondary {
    transition: transform 0.2s ease;
  }

  .btn-secondary:hover {
    background-color: #6c757d;
    transform: scale(1.1);
  }

  .nav-link:hover {
    color: rgb(255, 255, 255);
  }

