     .img-container {
        width: 100%; /* Garante que a imagem ocupe toda a largura da coluna */
        overflow: hidden; /* Esconde a parte da imagem que está fora da coluna */
    }

    .card-container {
        display: flex;
        flex-wrap: nowrap;
    }

    .col-card {
        flex: 0 0 auto;
        width: clamp(15.5rem, 29%, 20rem);
    }


    .card-body i {
      font-size: clamp(10px ,1.2vw, 14px);
    }

    .card-title{
      font-size: clamp(16px ,1.7vw, 20px);
    }

    .list-group-item{
      font-size: clamp(12px ,1.6vw, 15px);
    }

    .img-feedback {
        width: clamp(10rem, 25%, 20rem);
    }
  
    h1 {
        font-size: clamp(3rem, 5vw, 5rem);
    }

    h4 {
        font-size: clamp(1.1rem, 3vw, 3rem);
    }
  
    .card-img-top {
      width: 100%;          /* Ocupe 100% da largura do contêiner */
      height: auto;        /* Altura fixa de 200px (ou ajuste como preferir) */
      aspect-ratio: 1/1;
      object-fit: cover;    /* Corta as bordas para manter a proporção */
    }  

  .btn-outline-secondary {
    transition: transform 0.2s ease;
  }

  .btn-outline-secondary:hover {
    color: #6c757d;
    background-color: inherit;
    border-color: #6c757d;
    transform: scale(1.1);
  }

  .btn-secondary {
    transition: transform 0.2s ease;
  }

  .btn-secondary:hover {
    background-color: #6c757d;
    transform: scale(1.1);
  }

  .nav-link:hover {
    color: rgb(255, 255, 255);
  }